[environment]
EXPRESS_PORT= XXXXXX

[hubot_auth]
ADMIN= XXXXXX

[hubot_irc]
SERVER= XXXXXX
ROOMS= XXXXXX
NICK= XXXXXX
UNFLOOD= XXXXXX

[hubot_ansible]
PRODUCTION_PLAYBOOK= XXXXXX

[hubot_travis]
user_token = XXXXXX
